body {
    background-size: cover;
    background-color: cadetblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 50px;
   }
   
   h1 {
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   p {
    color: #000000a1;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .copy {
    color: #978c8ca1;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   .button {
    background-color:#7745a0;
    padding: 15px 32px;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 30px;  
    transition-duration: .5s;
   }
   a{
    color: rgb(0, 0, 0);
   }
   .button:hover {
    background-color: #12c4d1;
   }
   marquee{
    font-size: large;
    background-color: cadetblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
footer {
background-color: #333;
padding: 1rem;
color: rgb(0, 0, 0);
text-align: center;
}